.public-header
    &_public-welcome
        height 55px
        line-height 55px
        background #f5f5f5
        .public-welcome_left
            font-size 14px
            color #666666
        .public-welcome_right
            height 100%
            display flex
            justify-content flex-start
            align-items center
            a
                display block
                padding 0 15px
                margin-right 17px
                height 28px
                font-size 14px
                color #ffffff
                line-height 28px
                background #333333
            .input
                width 238px
                height 35px
                box-sizing border-box
                padding 5px 10px
                line-height 25px
                background url('../img/a200c739c00142434aef0c968e5b8f1e-22+20.png') right 10px center no-repeat
                border 1px solid #878787
                border-radius 0
                outline none
            .lanuage
                position relative
                margin-left 40px
                padding-right 25px
                font-size 14px
                color #666666
                background  url('../img/e17d89ae21d826363dcbe8bf7b14a3f0-14+8.png') right center no-repeat
                cursor pointer
                .text
                    min-width 4em
                    text-transform capitalize
                &_child-menu
                    display none
                    position absolute
                    left 0
                    right 0
                    z-index 1
                    text-align center
                    background #f5f5f5
                    span
                        display block
                        line-height 3
                        cursor pointer
                        text-transform capitalize
    .public-header_public-nav
        .container
            display flex
            align-items flex-end
            justify-content space-between
            height 95px
            &:after
            &:before
                display none
        .public-header_public_nav-left
            padding-bottom 20px
            margin 0
            a
            img
                display block
                img
                    max-width 210px
        .public-header_public_nav-right
            margin 0
            .list
                display flex
                .menu-root
                    position relative
                    line-height 1
                    display block
                    margin 0 20px
                    padding 20px 10px
                    font-size 18px
                    color #333333
                    font-weight 500
                    &.active
                    &:hover
                        &:after
                        &:before
                            opacity 1
                    &:after
                        content ''
                        position absolute
                        bottom 0
                        left 0
                        right 0
                        border-top 3px solid #1252a3
                        opacity 0
                        transition 0.3s
                    &:before
                        content ''
                        position absolute
                        left 50%
                        bottom 3px
                        transform translateX(-4px)
                        border 4px solid transparent
                        border-bottom-color #1252a3
                        opacity 0
                        transition 0.3s
.public-banner
    a
    img
        display block
        max-width 1920px
        width 100%
        margin 0 auto
    .swiper-pagination
        span
            width 15px
            height 15px
            opacity 1
            background #1357ac
            margin 0 10px
            &.swiper-pagination-bullet-active
                background #ffffff

.public-footer
    border-top 1px solid #dadada
    &_contact-us
        padding 15px 0
        .container
            display flex
            align-items center
            justify-content flex-start
        a
            display block
            margin-right 10px
    &_nav
        padding-bottom 20px
        font-size 18px
        color #333333
        line-height 1
        .container
            display flex
        a
            display block
            margin-bottom 10px
            margin-right 70px
    &_copy-right
        font-size 16px
        color #898989
        line-height 65px
        background #efefef

.index-want-invest
    color #333333
    .title
        font-size 20px
        line-height 45px
        span
            float left
            position relative
            display inline-block
            &:after
                content ''
                position absolute
                bottom 0
                left 0
                right 0
                border-bottom 2px solid #787878
    h4
        padding-top 20px
        font-size 18px
        color #333333
        padding-bottom 10px
    .sub-title
        font-size 20px
        color #333333
        line-height 46px
    .other
        padding 20px 0 30px


