.public-container
    .swiper-wrapper
        width 100%

.public-header_public-welcome .public-welcome_right
    &>*
        float left
    a
        margin-top 12px
    input
        margin-top 8px

.public-header .public-header_public-nav .public-header_public_nav-left
    float left
.public-header .public-header_public-nav .public-header_public_nav-right
    float right 

.public-header .public-header_public-nav .public-header_public_nav-left a, .public-header .public-header_public-nav .public-header_public_nav-left img
    margin-top 20px
.public-header .public-header_public-nav .public-header_public_nav-left
    padding-bottom 0

.public-header .public-header_public-nav .public-header_public_nav-right .list
    float left!important
    margin-top 20px
.public-header .public-header_public-nav .public-header_public_nav-right .list .menu-root
    float left

.public-header .public-header_public-nav .public-header_public_nav-right .list .menu-root:before
.public-header .public-header_public-nav .public-header_public_nav-right .list .menu-root:after
    display none


.public-footer_contact-us .container
    a
        float left
.public-footer_nav a
    float left

.public-page-control > *
    float none
    display inline-block
.main-news .tabs-control
    text-align center
.main-news .tabs-control span
    float none
    display inline-block

.main-news .list .item
    float left
    width 100%
.main-news .list .text
    float left
    width 1800px
    padding-top 50px
.main-news .list .control
    float right
    width 120px
    padding-top 50px

.public-page-control
    text-align center

.main-news .news-details .page-conreol a
    float left
    &+a
        float right

.main-about-mof .tabs-control
    text-align center
.main-about-mof .tabs-control span
    display inline-block
    float none

.main-register .mode h3
    text-align center
.main-register .mode .btn-group
    text-align center
.main-register .mode .btn-group a
    display inline-block

.public-register .public-header_public-nav .public-header_public_nav-left .register-user
.public-register .public-header_public-nav .public-header_public_nav-right .register-menu
.public-header .lanuage.mt30
    float left
    margin-top 30px
.public-header .lanuage
    margin-top 0
.public-header .lanuage.ie9-mt30
    margin-top 30px


.public-register .public-header_public-nav .public-header_public_nav-left .register-user
    position absolute
    top 0
    left 280px

.main-register .user-info .item
    overflow hidden
    text-align center
.main-register .user-info .item .label
.main-register .user-info .item .content
    display inline-block

.main-register .user-info .item .content .upload-pic .content
    text-align left


.main-register .user-info .item .content .code
    width 218px
    float left

.main-security .list .pic .layout
    background #0c0c0c
    display none